@import "compass";
$contents_width: 400px;
$border_color: #BBBBBB;
$title_font_family :  -webkit-pictograph;
$default_font_family :  inherit;
body {
    margin: 0px;
    border: 0px;
    .main {
        font-family: $default_font_family;
        color: #4C4C4C;
        .top {
            padding-top: 240px;
            .contentField {
                text-align: center;
                width: $contents_width;
                margin: auto;

                // ページタイトル
                p {
                    font-family: $title_font_family;
                    font-size: 92px;
                    line-height: 0.3em;
                    text-align: center;
                    margin-top: 0px;
                    padding-top: 0px;
                }

                // メニュー
                .menu {
                    font-family: $title_font_family;
                    padding: 0;
                    li{
                        list-style-type: none;
                        float: left;
                        width: 20%;
                        font-size: 24px;
                        a {
                            text-decoration: none;
                        }
                        &:hover {
                            color: #FFFFFF;
                        }
                    }
                }
                .fixed {
                    position: fixed;
                    left: 8px;
                    top: 0px;
                    z-index: 9999;
                    width: 100%;
                    background: #FFFFFF;
                    opacity: 0.6;
                    border-bottom: 1px solid #BBB;
                    ul {
                        margin: auto;
                        width: $contents_width;
                    }
                }
            }
        }
        .news {
            @extend .top;
            padding-top: 100px;
            .contentField {
                p {
                    font-size: 48px;
                    font-family: $title_font_family;
                }

                // 新着の表
                dl {
                    text-align: left;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid $border_color;
                    dt {
                        clear: left;
                        float: left;
                        width: 160px;
                        border-top: 1px solid $border_color;
                        padding-top: 10px;
                        margin-top: 10px;
                        &.first {
                            margin-top: 0;
                        }
                    }
                    dd {
                        margin-left: 160px;
                        &.category {
                            font-weight: bold;
                            border-top: 1px solid $border_color;
                            padding-top: 10px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .profile {
            @extend .news;
            img {
                width: auto;
                max-width: 60%;
                max-height: 60%;
                margin: 0px auto 30px auto;
                border-radius: 10px; 
            }
            .activityName {
                padding-bottom: 30px;
                font-size: 24px;
                text-align: left;
            }
            .description {
                p {
                    text-align: left;
                    font-size: 14px;
                    line-height: 1.6em;
                }
            }
        }
        .works {
            @extend .news;
            .contentField {
                // 表
                dl {
                    dt {
                        width: 80px;
                        font-weight: bold;
                    }
                    dd {
                        margin-left: 80px;
                        &.category {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        .contact {
            @extend .news;
        }
        .box {
            width: 100vw;
            height: 100vh;
            background: #fff url(../image/bg_90_ww.jpg) no-repeat center center scroll;
            background-size: cover;
        }
    }
}
