@import "compass";
@import "compass/typography/links/link-colors";
@import "media_queries";
$contents_width: 400px;
$border_color: #BBBBBB;
$title_font_family :  'Sorts Mill Goudy', serif;
$default_font_family :  inherit;
$font_color: #000000;
body {
    margin: 0px;
    border: 0px;
    .main {
        .top {
            color: #ffffff;
            text-align: center;
            height: 100%;
            width: $contents_width;
            background-image: url(../image/sss0.jpg);
            background-position-x: center;
            background-position-y: center;
            background-repeat-x: no-repeat;
            background-repeat-y: inherit;
            background-size: cover;

            // ページタイトル
            p {
                font-family: $title_font_family;
                font-size: 92px;
                line-height: 0.3em;
                text-align: center;
                margin-top: 0px;
                padding-top: 0px;
                letter-spacing: 15px;
                @include mobile {
                    font-size: 80px;
                    letter-spacing: 0px;
                }
            }

            #menuWrap{
                width: 100%;
                .menu-max {
                    max-width: 900px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    .menu {
                        width: 90%;
                        min-width: 300px;
                        border-top-width: 2px;
                        border-top-style: solid;
                        margin-left: auto;
                        margin-right: auto;
                        @include mobile {
                            width: 100%;
                        }
                    }
                }
                // メニュー
                ul {
                    font-family: $title_font_family;
                    padding: 0;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    li{
                        display: inline-block;
                        list-style-type: none;
                        width: 24%;
                        font-size: 24px;
                        @include mobile {
                            font-size: 19px;
                        }
                        a {
                            @include link-colors($font_color);
                            text-decoration: none;
                            color: #ffffff;
                        }
                    }
                }
                &.fixed {
                    position: fixed;
                    left: 0px;
                    top: 0px;
                    z-index: 9999;
                    width: 100%;
                    background: #FFFFFF;
                    opacity: 0.9;
                    .menu-max {
                        border-bottom-width: 2px;
                        border-bottom-style: solid;
                        border-bottom-color: lightgray;
                        .menu {
                            border-top: none;
                        }
                    }
                    li{
                        a {
                            color: #000000;
                        }
                    }
                }
            }
        }
        .content-background {
            @include background-size(contain);
            background-image: url(../image/bg_cat.png);
            background-position-x: left;
            background-position-y: top;
            background-repeat-x: no-repeat;
            background-repeat-y: inherit;
            .content-filter {
                background-color: rgba( 255, 255, 255, 0.9 );
            }
        }
        #content {
            width: 100%;
            max-width: 960px;
            margin: auto;
            .contentField {
                width: 90%;
                max-width: 900px;
                min-width: 300px;
                margin-right: auto;
                margin-left: auto;
            }
            font-family: $default_font_family;
            color: #4C4C4C;
            text-align: center;
        }
        .news {
            color: #000000;
            p {
                font-size: 48px;
                font-family: $title_font_family;
            }

            // 新着の表
            dl {
                text-align: left;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid $border_color;
                dt {
                    clear: left;
                    float: left;
                    width: 160px;
                    border-top: 1px solid $border_color;
                    padding-top: 10px;
                    margin-top: 10px;
                    @include mobile {
                        width: 80px;
                        font-size: 13px;
                    }
                    &.first {
                        margin-top: 0;
                    }
                }
                dd {
                    margin-left: 160px;
                    @include mobile {
                        margin-left: 80px;
                        font-size: 13px;
                        padding-left: 10px;
                    }
                    &.category {
                        font-weight: bold;
                        border-top: 1px solid $border_color;
                        padding-top: 10px;
                        margin-top: 10px;
                    }
                }
            }
        }
        .profile {
            @extend .news;
            img {
                width: auto;
                max-width: 300px;
                margin: 0px auto 30px auto;
                border-radius: 10px; 
            }
            .activityName {
                padding-bottom: 30px;
                font-size: 24px;
                text-align: left;
            }
            .description {
                p {
                    text-align: left;
                    font-size: 14px;
                    line-height: 1.6em;
                }
            }
        }
        .works {
            @extend .news;
            // 表
            ul {
                list-style: none;
                padding-left: 0px;
                li {
                    width: 100%;
                    border-top:    1px solid $border_color;
                    border-bottom: 1px solid $border_color;
                }
            }
            dl {
                padding: 0px;
                margin: 10px 0 10px 0;
                border-bottom: 0px solid #BBBBBB;
                dt {
                    border-top: 0px solid #BBBBBB;
                    padding-top: 0;
                    margin-top: 0;
                    float: none;
                }
                dd {
                    margin-left: 0px;
                    vertical-align: top;
                    &.contents {
                        display: inline-block;
                        width:  100px;
                        height: 100px;
                        img {
                            height: 100px;
                        }
                    }
                    &.description {
                        display: inline-block;
                    }
                }
            }
        }
        .contact {
            position: relative;
            @extend .news;
            ul {
                li {
                    text-align: left;
                }
            }
            button {
                font-size: 1.4em;
                font-weight: bold;
                padding: 10px 30px;
                background-color: rgba(255, 255, 255, 0.2);
                border: 2px solid rgba(0, 0, 0, 0.6);
                border-radius: 10px;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
            .footer {
                position: absolute;
                width: 100vw;
                bottom: 30px;
                text-align: center;
                .copyright {
                    font-size: 14px;
                    @include mobile {
                        font-size: 12px;
                    }
                }
            }
        }
        .box {
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .without-box {
            padding-top: 20px;
        }
    }
}
