/* line 6, ../sass/style.scss */
body {
  margin: 0px;
  border: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url(../image/bg_cat.png);
  background-position-x: left;
  background-position-y: top;
  background-repeat-x: no-repeat;
  background-repeat-y: inherit;
  background-size: cover;
}
/* line 17, ../sass/style.scss */
body .main {
  background-color: rgba(255, 255, 255, 0.55);
  font-family: inherit;
  color: #4C4C4C;
}
/* line 21, ../sass/style.scss */
body .main .top, body .main .news, body .main .profile, body .main .works, body .main .contact {
  text-align: center;
  height: 100%;
  width: 400px;
  margin: auto;
}
/* line 28, ../sass/style.scss */
body .main .top p, body .main .news p, body .main .profile p, body .main .works p, body .main .contact p {
  font-family: -webkit-pictograph;
  font-size: 92px;
  line-height: 0.3em;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
}
/* line 38, ../sass/style.scss */
body .main .top .menu, body .main .news .menu, body .main .profile .menu, body .main .works .menu, body .main .contact .menu {
  font-family: -webkit-pictograph;
  padding: 0;
}
/* line 41, ../sass/style.scss */
body .main .top .menu li, body .main .news .menu li, body .main .profile .menu li, body .main .works .menu li, body .main .contact .menu li {
  list-style-type: none;
  float: left;
  width: 20%;
  font-size: 24px;
}
/* line 46, ../sass/style.scss */
body .main .top .menu li a, body .main .news .menu li a, body .main .profile .menu li a, body .main .works .menu li a, body .main .contact .menu li a {
  text-decoration: none;
}
/* line 49, ../sass/style.scss */
body .main .top .menu li:hover, body .main .news .menu li:hover, body .main .profile .menu li:hover, body .main .works .menu li:hover, body .main .contact .menu li:hover {
  color: #FFFFFF;
}
/* line 54, ../sass/style.scss */
body .main .top .fixed, body .main .news .fixed, body .main .profile .fixed, body .main .works .fixed, body .main .contact .fixed {
  position: fixed;
  left: 8px;
  top: 0px;
  z-index: 9999;
  width: 100%;
  background: #FFFFFF;
  opacity: 0.6;
  border-bottom: 1px solid #BBB;
}
/* line 63, ../sass/style.scss */
body .main .top .fixed ul, body .main .news .fixed ul, body .main .profile .fixed ul, body .main .works .fixed ul, body .main .contact .fixed ul {
  margin: auto;
  width: 400px;
}
/* line 69, ../sass/style.scss */
body .main .news, body .main .profile, body .main .works, body .main .contact {
  padding-top: 100px;
}
/* line 73, ../sass/style.scss */
body .main .news .contentField p, body .main .profile .contentField p, body .main .works .contentField p, body .main .contact .contentField p {
  font-size: 48px;
  font-family: -webkit-pictograph;
}
/* line 79, ../sass/style.scss */
body .main .news .contentField dl, body .main .profile .contentField dl, body .main .works .contentField dl, body .main .contact .contentField dl {
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #BBBBBB;
}
/* line 84, ../sass/style.scss */
body .main .news .contentField dl dt, body .main .profile .contentField dl dt, body .main .works .contentField dl dt, body .main .contact .contentField dl dt {
  clear: left;
  float: left;
  width: 160px;
  border-top: 1px solid #BBBBBB;
  padding-top: 10px;
  margin-top: 10px;
}
/* line 91, ../sass/style.scss */
body .main .news .contentField dl dt.first, body .main .profile .contentField dl dt.first, body .main .works .contentField dl dt.first, body .main .contact .contentField dl dt.first {
  margin-top: 0;
}
/* line 95, ../sass/style.scss */
body .main .news .contentField dl dd, body .main .profile .contentField dl dd, body .main .works .contentField dl dd, body .main .contact .contentField dl dd {
  margin-left: 160px;
}
/* line 97, ../sass/style.scss */
body .main .news .contentField dl dd.category, body .main .profile .contentField dl dd.category, body .main .works .contentField dl dd.category, body .main .contact .contentField dl dd.category {
  font-weight: bold;
  border-top: 1px solid #BBBBBB;
  padding-top: 10px;
  margin-top: 10px;
}
/* line 109, ../sass/style.scss */
body .main .profile img {
  width: auto;
  max-width: 60%;
  max-height: 60%;
  margin: 0px auto 30px auto;
  border-radius: 10px;
}
/* line 116, ../sass/style.scss */
body .main .profile .activityName {
  padding-bottom: 30px;
  font-size: 24px;
  text-align: left;
}
/* line 122, ../sass/style.scss */
body .main .profile .description p {
  text-align: left;
  font-size: 14px;
  line-height: 1.6em;
}
/* line 134, ../sass/style.scss */
body .main .works .contentField dl dt {
  width: 80px;
  font-weight: bold;
}
/* line 138, ../sass/style.scss */
body .main .works .contentField dl dd {
  margin-left: 80px;
}
/* line 140, ../sass/style.scss */
body .main .works .contentField dl dd.category {
  font-weight: normal;
}
/* line 150, ../sass/style.scss */
body .main .box {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
