/* line 12, ../sass/style.scss */
body {
  font-family: 'Noto Sans Japanese';
  font-size: 14px;
  margin: 0px;
  border: 0px;
  color: #333;
}
@media screen and (max-width: 414px) {
  /* line 12, ../sass/style.scss */
  body {
    font-size: 12px;
  }
}
/* line 21, ../sass/style.scss */
body input[type=reset] {
  display: none;
}
/* line 24, ../sass/style.scss */
body input[type=submit] {
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.6);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "Sorts Mill Goudy", serif;
}
/* line 32, ../sass/style.scss */
body #loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
/* line 42, ../sass/style.scss */
body #loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
/* line 56, ../sass/style.scss */
body .main .top {
  color: #ffffff;
  text-align: center;
  height: 100%;
  width: 400px;
  background-image: url(../image/top.png);
  background-position-x: center;
  background-position-y: center;
  background-repeat-x: no-repeat;
  background-repeat-y: inherit;
  background-size: cover;
  text-shadow: 0 5px 20px black;
}
/* line 70, ../sass/style.scss */
body .main .top p {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 92px;
  line-height: 0.3em;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  letter-spacing: 15px;
}
@media screen and (max-width: 414px) {
  /* line 70, ../sass/style.scss */
  body .main .top p {
    font-size: 80px;
    letter-spacing: 0px;
  }
}
/* line 84, ../sass/style.scss */
body .main .top #menuWrap {
  width: 100%;
}
/* line 86, ../sass/style.scss */
body .main .top #menuWrap .menu-max {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* line 91, ../sass/style.scss */
body .main .top #menuWrap .menu-max .menu {
  width: 90%;
  min-width: 300px;
  border-top-width: 2px;
  border-top-style: solid;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 414px) {
  /* line 91, ../sass/style.scss */
  body .main .top #menuWrap .menu-max .menu {
    width: 100%;
  }
}
/* line 104, ../sass/style.scss */
body .main .top #menuWrap ul {
  font-family: "Sorts Mill Goudy", serif;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 109, ../sass/style.scss */
body .main .top #menuWrap ul li {
  display: inline-block;
  list-style-type: none;
  width: 24%;
  font-size: 24px;
}
@media screen and (max-width: 414px) {
  /* line 109, ../sass/style.scss */
  body .main .top #menuWrap ul li {
    font-size: 19px;
  }
}
/* line 117, ../sass/style.scss */
body .main .top #menuWrap ul li a {
  color: #333;
  text-decoration: none;
  color: #ffffff;
}
/* line 124, ../sass/style.scss */
body .main .top #menuWrap.fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
  z-index: 10;
  width: 100%;
  background: #FFFFFF;
  opacity: 0.9;
  text-shadow: none;
}
/* line 134, ../sass/style.scss */
body .main .top #menuWrap.fixed .menu-max {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
}
/* line 138, ../sass/style.scss */
body .main .top #menuWrap.fixed .menu-max .menu {
  border-top: none;
}
/* line 143, ../sass/style.scss */
body .main .top #menuWrap.fixed li a {
  color: #000000;
}
/* line 150, ../sass/style.scss */
body .main .content-background {
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-image: url(../image/bg.png);
  background-position-x: left;
  background-position-y: top;
  background-repeat-x: no-repeat;
  background-repeat-y: inherit;
}
/* line 157, ../sass/style.scss */
body .main .content-background .content-filter {
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 161, ../sass/style.scss */
body .main #content {
  width: 100%;
  max-width: 960px;
  margin: auto;
  font-family: inherit;
  color: #4C4C4C;
  text-align: center;
}
/* line 165, ../sass/style.scss */
body .main #content .contentField {
  width: 90%;
  max-width: 900px;
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
}
/* line 176, ../sass/style.scss */
body .main .news, body .main .profile, body .main .works, body .main .contact {
  color: #000000;
}
/* line 178, ../sass/style.scss */
body .main .news p, body .main .profile p, body .main .works p, body .main .contact p {
  font-size: 48px;
  font-family: "Sorts Mill Goudy", serif;
}
/* line 184, ../sass/style.scss */
body .main .news dl, body .main .profile dl, body .main .works dl, body .main .contact dl {
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #BBBBBB;
}
/* line 189, ../sass/style.scss */
body .main .news dl dt, body .main .profile dl dt, body .main .works dl dt, body .main .contact dl dt {
  clear: left;
  float: left;
  width: 160px;
  border-top: 1px solid #BBBBBB;
  padding-top: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 414px) {
  /* line 189, ../sass/style.scss */
  body .main .news dl dt, body .main .profile dl dt, body .main .works dl dt, body .main .contact dl dt {
    width: 100px;
    font-size: 12px;
  }
}
/* line 200, ../sass/style.scss */
body .main .news dl dt.first, body .main .profile dl dt.first, body .main .works dl dt.first, body .main .contact dl dt.first {
  margin-top: 0;
}
/* line 204, ../sass/style.scss */
body .main .news dl dd, body .main .profile dl dd, body .main .works dl dd, body .main .contact dl dd {
  margin-left: 160px;
  border-top: 1px solid #BBBBBB;
  padding-top: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 414px) {
  /* line 204, ../sass/style.scss */
  body .main .news dl dd, body .main .profile dl dd, body .main .works dl dd, body .main .contact dl dd {
    margin-left: 100px;
    font-size: 12px;
    padding-left: 0;
  }
}
/* line 214, ../sass/style.scss */
body .main .news dl dd .category, body .main .profile dl dd .category, body .main .works dl dd .category, body .main .contact dl dd .category {
  font-weight: 600;
}
/* line 217, ../sass/style.scss */
body .main .news dl dd .news-body, body .main .profile dl dd .news-body, body .main .works dl dd .news-body, body .main .contact dl dd .news-body {
  margin-left: 10px;
  color: gray;
}
/* line 226, ../sass/style.scss */
body .main .profile img {
  width: auto;
  max-width: 300px;
  margin: 0px auto 30px auto;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  /* line 226, ../sass/style.scss */
  body .main .profile img {
    max-width: 200px;
  }
}
@media screen and (max-width: 414px) {
  /* line 226, ../sass/style.scss */
  body .main .profile img {
    max-width: 150px;
  }
}
/* line 238, ../sass/style.scss */
body .main .profile .activityName {
  padding-bottom: 30px;
  font-size: 24px;
  text-align: center;
}
/* line 243, ../sass/style.scss */
body .main .profile .description {
  line-height: 1.6em;
  width: 500px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  /* line 243, ../sass/style.scss */
  body .main .profile .description {
    width: 400px;
  }
}
@media screen and (max-width: 414px) {
  /* line 243, ../sass/style.scss */
  body .main .profile .description {
    width: 300px;
  }
}
/* line 253, ../sass/style.scss */
body .main .profile .description .description-year {
  vertical-align: top;
  width: 100px;
  display: inline-block;
  text-align: right;
}
@media screen and (max-width: 768px) {
  /* line 253, ../sass/style.scss */
  body .main .profile .description .description-year {
    width: 70px;
  }
}
/* line 262, ../sass/style.scss */
body .main .profile .description .description-body {
  width: 380px;
  margin-left: 15px;
  display: inline-block;
  text-align: left;
}
@media screen and (max-width: 768px) {
  /* line 262, ../sass/style.scss */
  body .main .profile .description .description-body {
    width: 315px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 414px) {
  /* line 262, ../sass/style.scss */
  body .main .profile .description .description-body {
    width: 215px;
  }
}
/* line 280, ../sass/style.scss */
body .main .works ul {
  list-style: none;
  padding-left: 0px;
  border-bottom: 1px solid #BBBBBB;
}
/* line 284, ../sass/style.scss */
body .main .works ul li {
  width: 100%;
  border-top: 1px solid #BBBBBB;
}
/* line 289, ../sass/style.scss */
body .main .works dl {
  padding: 0px;
  margin: 10px 0 10px 0;
  border-bottom: 0px solid #BBBBBB;
}
/* line 293, ../sass/style.scss */
body .main .works dl dt {
  width: 60px;
  border-top: 0px solid #BBBBBB;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding-top: 0;
  margin: 0 0 5px 0;
  float: none;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
/* line 303, ../sass/style.scss */
body .main .works dl dt.music {
  background-color: #00cc11;
}
/* line 306, ../sass/style.scss */
body .main .works dl dt.video {
  background-color: #e52d27;
}
/* line 309, ../sass/style.scss */
body .main .works dl dt.sound {
  background-color: #00aabb;
}
/* line 313, ../sass/style.scss */
body .main .works dl dd {
  margin: 0 0 0 0;
  vertical-align: top;
}
/* line 316, ../sass/style.scss */
body .main .works dl dd.contents {
  border-top: inherit;
  display: inline-block;
  width: 100%;
  max-width: 300px;
}
@media screen and (max-width: 768px) {
  /* line 316, ../sass/style.scss */
  body .main .works dl dd.contents {
    width: 49%;
    max-width: 100%;
  }
}
@media screen and (max-width: 414px) {
  /* line 316, ../sass/style.scss */
  body .main .works dl dd.contents {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 329, ../sass/style.scss */
  body .main .works dl dd.contents.music {
    width: inherit;
    max-width: inherit;
  }
}
/* line 335, ../sass/style.scss */
body .main .works dl dd.contents img {
  width: 100px;
}
@media screen and (min-width: 769px) {
  /* line 335, ../sass/style.scss */
  body .main .works dl dd.contents img {
    width: 150px;
  }
}
/* line 341, ../sass/style.scss */
body .main .works dl dd.contents iframe {
  width: 100%;
  height: 100px;
}
/* line 345, ../sass/style.scss */
body .main .works dl dd.contents .movie-wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
/* line 351, ../sass/style.scss */
body .main .works dl dd.contents .movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 360, ../sass/style.scss */
body .main .works dl dd.description {
  border-top: inherit;
  display: inline-block;
}
/* line 363, ../sass/style.scss */
body .main .works dl dd.description .description-wrapper {
  margin-left: 10px;
}
/* line 365, ../sass/style.scss */
body .main .works dl dd.description .description-wrapper .description-date {
  font-weight: 400;
}
/* line 368, ../sass/style.scss */
body .main .works dl dd.description .description-wrapper .description-title {
  font-weight: 600;
}
/* line 371, ../sass/style.scss */
body .main .works dl dd.description .description-wrapper .description-body {
  margin-left: 10px;
  color: gray;
}
@media screen and (max-width: 414px) {
  /* line 371, ../sass/style.scss */
  body .main .works dl dd.description .description-wrapper .description-body {
    font-size: 12px;
  }
}
@media screen and (max-width: 414px) {
  /* line 363, ../sass/style.scss */
  body .main .works dl dd.description .description-wrapper {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  /* line 360, ../sass/style.scss */
  body .main .works dl dd.description {
    width: 49%;
  }
  /* line 384, ../sass/style.scss */
  body .main .works dl dd.description.music {
    width: inherit;
  }
}
@media screen and (max-width: 414px) {
  /* line 360, ../sass/style.scss */
  body .main .works dl dd.description {
    margin-top: 10px;
  }
}
@media screen and (max-width: 414px) {
  /* line 391, ../sass/style.scss */
  body .main .works dl dd.description .pc-only {
    display: none;
  }
}
/* line 400, ../sass/style.scss */
body .main .contact {
  text-align: center;
  height: 100vh;
  position: relative;
}
/* line 405, ../sass/style.scss */
body .main .contact ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 409, ../sass/style.scss */
body .main .contact ul li {
  text-align: left;
}
/* line 413, ../sass/style.scss */
body .main .contact .contact-wrapper {
  margin-top: 20px;
}
/* line 416, ../sass/style.scss */
body .main .contact input[name=contact-modal-radio] {
  display: none;
}
/* line 419, ../sass/style.scss */
body .main .contact .contact-modal-open:checked ~ .contact-modal-closer {
  display: block;
}
/* line 422, ../sass/style.scss */
body .main .contact .contact-modal-open:checked ~ .contact-modal {
  display: block;
}
/* line 425, ../sass/style.scss */
body .main .contact .contact-modal-closer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: #000;
  z-index: 99;
}
/* line 436, ../sass/style.scss */
body .main .contact .contact-modal {
  display: none;
  position: fixed;
  width: 550px;
  height: 446px;
  top: 50%;
  left: 50%;
  margin-left: -290px;
  margin-top: -238px;
  background-color: #fff;
  z-index: 100;
  padding: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 448, ../sass/style.scss */
body .main .contact .contact-modal li {
  display: none;
}
/* line 451, ../sass/style.scss */
body .main .contact .contact-modal .close-button {
  position: absolute;
  background-color: #242633;
  width: 34px;
  height: 30px;
  color: #fff;
  font-size: 22px;
  padding-bottom: 4px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  right: -17px;
  top: -18px;
}
/* line 463, ../sass/style.scss */
body .main .contact .contact-modal .form-group {
  margin-bottom: 10px;
}
/* line 465, ../sass/style.scss */
body .main .contact .contact-modal .form-group label {
  display: inline-block;
  text-align: right;
  width: 50px;
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  /* line 465, ../sass/style.scss */
  body .main .contact .contact-modal .form-group label {
    width: 100%;
    text-align: left;
    margin-left: 0px;
  }
}
/* line 479, ../sass/style.scss */
body .main .contact .contact-modal .form-group div {
  display: inline-block;
  width: 450px;
}
@media screen and (max-width: 768px) {
  /* line 479, ../sass/style.scss */
  body .main .contact .contact-modal .form-group div {
    width: 100%;
  }
}
/* line 485, ../sass/style.scss */
body .main .contact .contact-modal .form-group div input {
  display: block;
  width: 399px;
  height: 20px;
  margin-right: 30px;
  margin-left: 15px;
  text-align: left;
  line-height: 1.42857143;
  padding: 6px 12px;
  border: 1px solid #ccc;
  color: #555;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 500, ../sass/style.scss */
body .main .contact .contact-modal .form-group div input.error {
  border: 1px solid #e6846e;
}
@media screen and (max-width: 768px) {
  /* line 485, ../sass/style.scss */
  body .main .contact .contact-modal .form-group div input {
    display: inherit;
    width: 90%;
    margin-right: 0px;
    margin-left: 0px;
  }
}
/* line 510, ../sass/style.scss */
body .main .contact .contact-modal .form-group div textarea {
  display: block;
  width: 399px;
  height: 300px;
  resize: none;
  margin-right: 30px;
  margin-left: 15px;
  text-align: left;
  line-height: 1.42857143;
  padding: 6px 12px;
  border: 1px solid #ccc;
  color: #555;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 526, ../sass/style.scss */
body .main .contact .contact-modal .form-group div textarea.error {
  border: 1px solid #e6846e;
}
@media screen and (max-width: 768px) {
  /* line 510, ../sass/style.scss */
  body .main .contact .contact-modal .form-group div textarea {
    display: inherit;
    width: 90%;
    height: 150px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  /* line 436, ../sass/style.scss */
  body .main .contact .contact-modal {
    width: 400px;
    height: 355px;
    margin-left: -215px;
    margin-top: -177px;
  }
}
@media screen and (max-width: 414px) {
  /* line 436, ../sass/style.scss */
  body .main .contact .contact-modal {
    width: 320px;
    height: 355px;
    margin-left: -175px;
    margin-top: -177px;
  }
}
/* line 553, ../sass/style.scss */
body .main .contact .contact-button {
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-family: "Sorts Mill Goudy", serif;
}
/* line 561, ../sass/style.scss */
body .main .contact .contact-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 769px) {
  /* line 565, ../sass/style.scss */
  body .main .contact .help-mail {
    margin-top: 20px;
    font-size: small;
  }
  /* line 569, ../sass/style.scss */
  body .main .contact .help-mail a {
    color: gray;
    text-decoration: none;
  }
}
@media screen and (max-width: 414px) {
  /* line 565, ../sass/style.scss */
  body .main .contact .help-mail {
    display: none;
  }
}
/* line 578, ../sass/style.scss */
body .main .contact .footer {
  position: absolute;
  width: 100vw;
  bottom: 80px;
  text-align: center;
}
@media screen and (max-width: 414px) {
  /* line 583, ../sass/style.scss */
  body .main .contact .footer .copyright {
    font-size: 12px;
  }
}
/* line 590, ../sass/style.scss */
body .main .box {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* line 598, ../sass/style.scss */
body .main .without-box {
  padding-top: 20px;
}
